.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7fafc;
}

.time {
  display: flex;
  font-size: 10rem;
  font-weight: bold;
  color: #1a202c;
}

.separator {
  margin: 0 0.5rem;
}

.hours,
.minutes,
.seconds {
  display: inline-block;
  width: 10.5rem;
  text-align: center;
  background-color: #fff;
  color: #333;
  border-radius: 0.5rem;
  margin: 0 1.25rem;
  padding: 0.55rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}